

#wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
    
}

#cookie-banner {
    border-radius: 5px;
	margin: 10px;
	background-color: black;
	color: white;
	border-color: #fff;
	border: solid;
	border-width: 0.5px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 15px rgba(0,0,0,20);
	transition: opacity 0.2s ease;
	opacity: 1;
}

#linka {
	color: white;
	text-decoration: none;
	opacity: 1;
	display: inline-block;
	position: relative;
	transition: opacity 0.2s ease;
}

#linka::after {
	width: 100%;
    content: ' ';
    position: absolute;
    bottom: -0.055em;
    left: 0;
    height: 1px;
	background: white;
	    transition: opacity 0.2s ease;
}

#linka:hover {
	opacity: 0.7;
	transition: opacity 0.2s ease;
}

#linka:hover::after {
	opacity: 0.7;
	transition: opacity 0.2s ease;
}

.out {
	display: none !important;
}

#cta {
    color: #fff;
border-color: #fff;
background-color: black;
border: solid;
border-width: 0.5px;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	cursor: pointer;
}

#cta:hover {
	opacity: 0.7;
	transition: opacity 0.2s ease;
}


#cookie-text {
    padding-right: 10px;
}

.linearText {
	background: linear-gradient(90deg, #3b6bff, #6e92ff 65%, #a1b8ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

.greyText{
	color: #fff;
	font-size: 1.55rem !important;
}

.no-hover {
	pointer-events: none !important; 
	border: 0px !important; 
  }
 
.element::-webkit-scrollbar { 
    width : 0 !important /* Webkit */
} 
.element { 
    -ms-overflow-style : none; /* IE10+ */
    overflow           : -moz-scrollbars-none; /* FireFox, но может не работать */
}